// sidebar
$menuText: #515a6e;
$menuActiveText: #1677ff;
$subMenuActiveText: #1677ff;

$menuBg: #ffffff;
$menuHover: #f5f7fa;

$subMenuBg: #fafbfc;
$subMenuHover: #f0f2f5;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
